.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*personal contributions on styling*/
li.nav-item{
  border-top: 30px;
  background-color: #57C4E5;
  /* 62BFED */
  border-radius: 25px;
  border: 2px solid #201E1F;
  padding: 3px;
  height: 50px;
  margin-left: 10px;
}

iframe{
  margin-left: 20px;
  border: 13px solid #57C4E5;
  border-radius: 25px;
}
h1{
  margin-left: 20px;
}


